

<div class="container">
    <h1>Autor</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Cadastro</li>
    </ol>
    <form >
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nome">Nome *:</label>
                    <input type="text" name="nome" class="form-control"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="nome">Data Nascimento *:</label>
                    <input type="text" name="dataNascimento" class="form-control"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="nome">Nacionalidade *:</label>
                    <input type="text" name="nacionalidade" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 area-botao">
                <button class="btn btn-success">Cadastrar</button>
            </div>
        </div>
    </form>
</div>
