.container{
    max-width: 1200px;
}
.container-botoes{
    margin-left: 65%;
}
.container-botoes button{
    width: auto;
    margin-right: 15px;
}
/*@media screen and (min-width:992px) and (max-width:1999px){
    .container-botoes{
        margin-left: 73%;
    }
}*/
@media screen and (min-width:1200px){
    .container-botoes{
        margin-left: 78%;
    }
}

@media screen and (max-width:768px){
    div > p-button{
        width: 100%;
    } 
    .container-botoes{
        margin-left: 0;
    } 
    .container-botoes button{
        width: 100%;
        margin-right: 0;
        margin-bottom: 1.5vh;
    }
}