

<div class="container">
    <h1>Autor</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Cadastro</li>
    </ol>
    <form [formGroup]="formAutor">
        <div class="ui-g ui-fluid">
            <div class="ui-g-6 ui-md-8 ui-sm-12 ">
                <label for="nome">Nome *:</label>
                <input type="text" name="nome" pInputText />                
            </div>
            <div class="ui-g-3 ui-md-4 ui-sm-12 ">
                <label for="nome">Data Nascimento *:</label>
                <input type="text" name="dataNascimento" pInputText/>                
            </div>
            <div class="ui-g-3 ui-md-12 ui-sm-12 ">                
                <label for="nome">Nacionalidade *:</label>
                <input type="text" name="nacionalidade" pInputText/>                
            </div>
            <div class="ui-g-3 ui-md-12 ui-sm-12 ">                
                <button pButton type="button" label="Click" ></button>
                <p-button label="Cadastrar" styleClass="ui-button-info"></p-button>            
            </div>
        </div>
    </form>
</div>
